* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: system-ui;
    border: none;
    outline: none;
    text-decoration: none;
    font-size: 14px;
    background: none;
}

html {
    height: 100%;
    width: 100%;
}

body {
    position: relative;
    height: 100%;
    width: 100%;
    background: rgb(15, 15, 15);
}

.menu_bar {
    position: absolute;
    z-index: 10;
    bottom: 0;
    height: 50px;
    width: 100%;
    padding: 0 5px;
    background: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.interaction {
    height: 40px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 20px;
}

.interaction a {
    height: 80%;
    aspect-ratio: 1;
    display: flex;
    align-items: center;
}

.interaction a img {
    height: 80%;
}

.login {
    color: rgba(127, 127, 127, 0.5);
}

.back {
    position: fixed;
    height: 40px;
    width: 40px;
    margin: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(127, 127, 127, 0.5);
    border-radius: 50%;
    backdrop-filter: blur(10px);
}

.search img,
.back img {
    display: block;
    height: 80%;
    width: 80%;
    object-fit: contain;
}

.account {
    position: relative;
    height: 80%;
}

.user_avatar {
    display: block;
    height: 100%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    object-fit: contain;
}

.account_panel {
    position: absolute;
    top: -500%;
    right: -40px;
    height: fit-content;
    width: 130px;
    padding: 4px;
    background: rgb(30, 30, 30);
    z-index: 100;
    border-radius: 8px;
    display: none;
    flex-direction: column;
    gap: 2px;
}

.account_panel > *,
.account_panel a {
    height: 30px;
    width: 100%;
    display: flex;
    align-items: center;
    font-size: 12px;
    color: rgb(255, 255, 255);
    padding: 4px 8px;
    cursor: pointer;
}

.account_panel a {
    border-bottom: 2px solid rgb(60, 60, 60);
}

.account_panel > *:hover {
    background: rgb(46, 46, 46);
}

.container {
    height: calc(100% - 50px);
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    overflow-y: scroll;
    position: relative;
}

.heading {
    padding: 8px 8px 0 8px;
    font-size: 16px;
    font-weight: 600;
    color: rgb(255, 255, 255);
}

.anime_slider {
    height: fit-content;
    width: 100%;
    position: relative;
}

.anime_slider_container {
    display: flex;
    width: 100%;
    aspect-ratio: 1.8/1;
    position: relative;
}

.anime_slide {
    height: 100%;
    width: 100%;
}

.anime_slide_image {
    height: 100%;
    width: 100%;
    object-fit: cover;
    display: block;
}

.anime_slider_textbox {
    position: absolute;
    left: 8px;
    bottom: 8px;
    margin-top: 8px;
    color: rgb(255, 255, 255);
    font-size: 14px;
    font-weight: 600;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 75%;
}

.anime_slider_index {
    height: fit-content;
    width: fit-content;
    position: absolute;
    right: 8px;
    bottom: 8px;
    background: rgba(127, 127, 127, 0.5);
    color: rgb(255, 255, 255);
    border-radius: 8px;
    padding: 4px 8px;
}

.anime_index {
    height: 4px;
    aspect-ratio: 1;
    background: rgb(100, 100, 100);
    border-radius: 50%;
    margin: 0 1px;
}

.anime_cards_slider {
    height: fit-content;
    width: 100%;
    position: relative;
    display: flex;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    scroll-padding-left: 8px;
    gap: 8px;
    margin-top: 16px;
    margin-bottom: 16px;
}

.anime_cards {
    height: fit-content;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 8px;
    padding: 8px;
    color: rgb(255, 255, 255);
}

.home_card {
    height: fit-content;
    width: 100%;
    /* display: flex; */
    min-height: 0;
    overflow: hidden;
    cursor: pointer;
    scroll-snap-align: start;
}

.anime_cards_slider .home_card {
    height: fit-content;
    min-width: calc(33vw - (46px / 3));
    max-width: calc(33vw - (46px / 3));
}

.anime_cards_slider .home_card:first-of-type {
    margin-left: 8px;
}

.anime_cards_slider .home_card:last-of-type {
    margin-right: 8px;
}

.home_card_image {
    aspect-ratio: 0.64/1;
    width: 100%;
    display: block;
    border-radius: 4px;
    background: rgb(38, 38, 38);
}

.home_card_box {
    width: 60%;
    position: relative;
}

.home_card_title {
    height: 21px;
    width: 100%;
    font-size: 12px;
    font-weight: 600;
    color: rgb(255, 255, 255);
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-top: 8px;
    padding: 0 4px;
}

.home_card_desc {
    margin: 12px;
    font-size: 12px;
    color: rgb(156, 163, 175);
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.home_card_watch {
    padding: 4px 8px;
    font-size: 12px;
    line-height: 20px;
    font-weight: 600;
    background: rgb(241, 241, 241);
    border-radius: 14px;
    position: absolute;
    bottom: 8px;
    color: rgb(0, 0, 0);
    margin-left: 8px;
}

.home_card_watch:hover {
    background: rgb(217, 217, 217);
}

.schedule {
    padding: 16px;
    position: relative;
}

.schedule .heading {
    padding: 16px 0;
}

.schedule_date {
    position: absolute;
    top: 28px;
    right: 16px;
    color: rgb(255, 255, 255);
    background: rgb(30, 30, 30);
    padding: 8px 16px;
    border-radius: 8px;
}

.schedules_container {
    display: flex;
    flex-direction: column;
    margin-top: 8px;
}

.schedule_item {
    display: flex;
    flex-wrap: wrap;
    color: rgb(255, 255, 255);
    padding: 12px 4px;
    border-bottom: 2px solid rgb(60, 60, 60);
}

.schedule_item:last-of-type {
    border-bottom: none;
}

.schedule_item_title {
    width: 75%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-weight: 600;
}

.schedule_item_ep {
    width: 25%;
    font-weight: 600;
    display: flex;
    justify-content: flex-end;
}

.schedule_item_image {
    margin: 4px 0;
    height: 16px;
    margin-right: auto;
}

.schedule_item_time {
    width: 30%;
    display: flex;
    justify-content: flex-end;
}

.expand {
    color: rgb(255, 255, 255);
    background: rgb(30, 30, 30);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
    margin: 8px 0;
    border-radius: 8px;
    font-weight: 600;
}

.search_bar {
    width: calc(100% - 16px);
    padding: 12px;
    margin: 8px 8px 0 8px;
    background: rgb(30, 30, 30);
    border-radius: 8px;
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 12px;
    line-height: 20px;
}

.search_bar img {
    height: 16px;
    display: block;
}

.search_input {
    background: transparent;
    color: rgb(255, 255, 255);
    margin-left: 8px;
    width: calc(100% - 20px);
}

.search_results {
    height: fit-content;
    width: 100%;
    margin-top: 24px;
    padding: 0 8px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.search_result {
    height: fit-content;
    width: 100%;
    padding: 16px;
    background: rgb(30, 30, 30);
    border-radius: 8px;
    color: rgb(255, 255, 255);
    border-radius: 8px;
    cursor: pointer;

    &:last-of-type {
        margin-bottom: 8px;
    }
}

.search_result:hover {
    background: rgba(30, 30, 30, 1);
}

.anime_image {
    position: fixed;
    z-index: -1;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: block;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.inner_wrapper {
    position: absolute;
    bottom: 0;
    margin-top: calc(32dvh);
    height: calc(68dvh - 50px);
    width: 100%;
    overflow-y: scroll;
    -webkit-mask-image: linear-gradient(
        to top,
        rgba(0, 0, 0, 1) 80%,
        rgba(0, 0, 0, 0)
    );
}

.anime_info {
    position: relative;
    margin-top: 60%;
    width: 100%;
    padding: 0 16px;
    display: flex;
    flex-direction: column;
    background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 1) 80%
    );
}

.anime_title {
    width: 85%;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 8px 0;
    color: rgb(255, 255, 255);
    font-size: 20px;
}

.anime_genres {
    overflow: hidden;
    display: flex;
    gap: 8px;
    height: fit-content;
    width: 100%;
}

.anime_genre {
    font-size: 10px;
    line-height: 20px;
    padding: 2px 8px;
    background: rgba(0, 0, 0, 0.25);
    border-radius: 14px;
    color: rgb(255, 255, 255);
    cursor: pointer;
    white-space: nowrap;
    margin-bottom: 12px;
}

.anime_rating {
    color: rgb(255, 255, 255);
    font-size: 12px;
    font-weight: 600;
    margin-top: 8px;
    position: absolute;
    top: 2px;
    right: 16px;
    display: flex;
    align-items: center;
    background: rgb(30, 30, 30);
    width: fit-content;
    padding: 4px 8px;
    border-radius: 8px;
}

.anime_rating img {
    height: 10px;
    aspect-ratio: 1;
    display: block;
    object-fit: contain;
    margin-left: 4px;
}

.anime_desc {
    height: 20vh;
    font-size: 14px;
    color: rgb(150, 150, 150);
    overflow: hidden;
}

.desc_heading {
    font-size: 14px;
    color: rgb(255, 255, 255);
    margin-bottom: 12px;
}

.anime_marked {
    color: rgb(0, 0, 0);
    background: rgb(255, 255, 255);
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    padding: 8px 16px;
    border-radius: 8px;
    margin-top: 12px;
    cursor: pointer;
}

.anime_seasons {
    padding: 28px 16px 16px 16px;
    background: rgb(0, 0, 0);
}

.anime_episodes {
    background: rgb(0, 0, 0);
}

.anime_episodes_header {
    color: rgb(255, 255, 255);
    margin-bottom: 8px;
}

.anime_seasons_list {
    padding: 8px 16px;
    margin-top: 8px;
    background: rgb(30, 30, 30);
    color: rgb(255, 255, 255);
    border-radius: 8px;
}

.anime_episodes_heading {
    color: rgb(255, 255, 255);
    margin-left: 16px;
}

.anime_episodes_list {
    display: flex;
    flex-direction: column;
}

.anime_season {
    background: rgb(28, 28, 28);
    border-radius: 4px;
    color: rgb(255, 255, 255);
    padding: 4px 8px;
}

.msg {
    padding: 16px;
    color: rgb(255, 255, 255);
}

.anime_episode {
    color: rgb(255, 255, 255);
    padding: 16px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 8px;
    position: relative;
    border-top: 2px solid rgb(60, 60, 60);
}

.anime_episode_area {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    z-index: 0;
}

.anime_episode_image {
    display: block;
    width: 30%;
    border-radius: 8px;
}

.anime_episode_inner {
    align-self: flex-start;
    width: calc(70% - 8px);
    height: fit-content;
}

.anime_episode_index {
    width: 100%;
    font-weight: 600;
}

.anime_episode_title {
    color: rgb(100, 100, 100);
    width: 100%;
}

.anime_episode_playtime {
    height: 20px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.anime_episode_playtime_bar {
    height: 2px;
    width: 70%;
    background: rgb(30, 30, 30);
}

.anime_episode_playtime_bar_progress {
    height: 100%;
    width: 0;
    background: rgb(229, 9, 20);
}

.anime_episode_playtime_time {
    text-align: end;
    width: 30%;
    color: rgb(100, 100, 100);
}

.video_container {
    position: fixed;
    z-index: 100;
    inset: 0;
    height: 100%;
    width: 100%;
    aspect-ratio: 16 / 9;
    overflow: hidden;
    backround: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
}

.video_exit {
    position: absolute;
    top: 8px;
    left: 8px;
    z-index: 999;
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(127, 127, 127, 0.5);
    padding: 4px 8px;
    border-radius: 50%;
}

.video_exit img {
    height: 16px;
    display: block;
}

.video_player {
    height: 100%;
    width: 100%;
}

#form {
    position: absolute;
    inset: 0;
    margin: auto;
    height: fit-content;
    width: calc(100% - 48px);
    display: flex;
    flex-direction: column;
    gap: 24px;
}

#form h1 {
    color: rgb(255, 255, 255);
}

#form input {
    padding: 8px 16px;
    background: rgb(38, 38, 38);
    color: rgb(255, 255, 255);
    border-radius: 8px;
}

#form input[type="submit"] {
    background: rgb(255, 165, 0);
    color: rgb(0, 0, 0);
}

#form span {
    display: flex;
    gap: 8px;
    color: rgb(255, 255, 255);
}

#form span a {
    color: rgb(255, 165, 0);
}

::-webkit-scrollbar {
    width: 0;
}

.box {
    height: 50%;
    width: calc(100% - 32px);
    background: rgb(38, 38, 38);
    padding: 16px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    margin: 12px 16px;
}

#show {
    height: 100%;
    width: fit-content;
    max-width: 100%;
    background: rgb(38, 38, 38);
    object-fit: contain;
}

#upload {
    width: calc(100% - 32px);
    margin: 0 16px;
    padding: 8px;
    background: rgb(38, 38, 38);
    color: rgb(255, 255, 255);
    border-radius: 8px;
}

#upload::file-selector-button {
    background: rgb(46, 46, 46);
    color: rgb(255, 255, 255);
    padding: 8px;
    border-radius: 8px;
    outline: none;
    border: none;
    cursor: pointer;
    margin-right: 8px;
}

.options {
    height: fit-content;
    width: calc(100% - 32px);
    display: flex;
    flex-direction: column;
    margin: 12px 16px;
}

.option {
    height: 48px;
    width: 100%;
    padding: 0 16px;
    display: flex;
    align-items: center;
    gap: 16px;
    background: rgb(38, 38, 38);
    border-radius: 8px;
}

.option_head {
    font-size: 14px;
    color: rgb(255, 255, 255);
}

#submit {
    width: calc(100% - 32px);
    margin: 0 16px;
    padding: 16px 32px;
    background: rgb(38, 38, 38);
    color: rgb(255, 255, 255);
    border-radius: 8px;
}

.plot {
    width: calc(100% - 32px);
    aspect-ratio: 3/1;
    padding: 16px;
    background: rgb(30, 30, 30);
    margin: 16px;
    border-radius: 16px;
}

.account_info {
    height: 40%;
    width: 100%;
    padding: 30% 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile_links {
    height: fit-content;
    width: 100%;
    padding: 0 16px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.profile_links > * {
    width: 100%;
    padding: 8px 16px;
    background: rgb(38, 38, 38);
    border-radius: 8px;
    color: rgb(255, 255, 255);
    cursor: pointer;
}

.profile_links .separator {
    padding: 0;
    height: 2px;
    background: rgb(60, 60, 60);
}

select {
    border-right: 8px solid transparent;
}

.skeleton {
    height: 100%;
    width: 100%;
    background: rgb(30, 30, 30);
    animation: pulse 2s infinite;
    border-radius: 8px;
}

@keyframes pulse {
    50% {
      opacity: .5;
    }
}

.spinner {
    margin: auto;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: 3px solid rgb(229, 9, 20);
    animation: spinner-bulqg1 0.8s infinite linear alternate,
         spinner-oaa3wk 1.6s infinite linear;
 }
 
 @keyframes spinner-bulqg1 {
    0% {
       clip-path: polygon(50% 50%, 0 0, 50% 0%, 50% 0%, 50% 0%, 50% 0%, 50% 0%);
    }
 
    12.5% {
       clip-path: polygon(50% 50%, 0 0, 50% 0%, 100% 0%, 100% 0%, 100% 0%, 100% 0%);
    }
 
    25% {
       clip-path: polygon(50% 50%, 0 0, 50% 0%, 100% 0%, 100% 100%, 100% 100%, 100% 100%);
    }
 
    50% {
       clip-path: polygon(50% 50%, 0 0, 50% 0%, 100% 0%, 100% 100%, 50% 100%, 0% 100%);
    }
 
    62.5% {
       clip-path: polygon(50% 50%, 100% 0, 100% 0%, 100% 0%, 100% 100%, 50% 100%, 0% 100%);
    }
 
    75% {
       clip-path: polygon(50% 50%, 100% 100%, 100% 100%, 100% 100%, 100% 100%, 50% 100%, 0% 100%);
    }
 
    100% {
       clip-path: polygon(50% 50%, 50% 100%, 50% 100%, 50% 100%, 50% 100%, 50% 100%, 0% 100%);
    }
 }
 
 @keyframes spinner-oaa3wk {
    0% {
       transform: scaleY(1) rotate(0deg);
    }
 
    49.99% {
       transform: scaleY(1) rotate(135deg);
    }
 
    50% {
       transform: scaleY(-1) rotate(0deg);
    }
 
    100% {
       transform: scaleY(-1) rotate(-135deg);
    }
 }