* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: system-ui;
    border: none;
    outline: none;
    text-decoration: none;
    font-size: 14px;
}

html {
    height: 100%;
    width: 100%;
}

body {
    height: 100%;
    width: 100%;
    background: rgb(15, 15,15);
}

.container {
    height: 100%;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    overflow-y: scroll;
    position: relative;
}

.interaction {
    position: absolute;
    top: 24px;
    right: 24px;
    height: 24px;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 8px;
}

.interaction a {
    height: 30px;
    aspect-ratio: 1;
    display: flex;
    align-items: center;
}

.login {
    color: rgb(255, 255, 255);
}

.back {
    position: fixed;
    display: block;
    height: 24px;
    width: 24px;
    margin: 24px 0 0 24px;
}

.search img, .back img {
    display: block;
    height: 100%;
    width: 100%;
    object-fit: contain;
    height: 16px;
}

.back img {
    height: 20px;
}

.user_avatar {
    display: block;
    height: 30px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    object-fit: contain;
}

.heading {
    padding: 24px 24px 0 24px;
    font-size: 16px;
    font-weight: 600;
    color: rgb(255, 255, 255);
}

.anime_slider {
    height: fit-content;
    width: 100%;
    padding: 12px 24px 12px 24px;
    border-bottom: 2px solid rgb(46, 46, 46);
}

.anime_slider_container {
    width: 100%;
    aspect-ratio: 1.8/1;
}

.anime_slide {
    display: none;
    height: 100%;
    width: 100%;
}

.anime_slide_image {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 8px;
    display: block;
}

.anime_slider_textbox {
    margin-top: 8px;
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 600;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.anime_slider_index {
    height: 8px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 12px;
}

.anime_index {
    height: 4px;
    aspect-ratio: 1;
    background: rgb(100, 100, 100);
    border-radius: 50%;
    margin: 0 1px;
}

.anime_cards {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 24px;
}

.home_card {
    height: fit-content;
    width: 100%;
    display: flex;
}

.home_card_image {
    height: fit-content;
    width: 40%;
    display: block;
    border-radius: 8px;
}

.home_card_box {
    width: 60%;
    position: relative;
}

.home_card_title {
    width: 100%;
    font-size: 16px;
    font-weight: 600;
    color: rgb(255, 255, 255);
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-top: 8px;
    padding: 0 8px;
}

.home_card_genres {
    margin: 8px;
    overflow: hidden;
    display: flex;
    gap: 8px;
    height: fit-content;
    width: 100%;
}

.home_card_genre {
    font-size: 12px;
    line-height: 20px;
    padding: 4px 8px;
    background: rgb(39, 39, 39);
    border-radius: 14px;
    color: rgb(255, 255, 255);
    cursor: pointer;
    white-space: nowrap;
}

.home_card_rating {
    color: rgb(255, 255, 255);
    padding: 0 8px;
    font-size: 12px;
    font-weight: 600;
    margin-top: 8px;
    position: relative;
    display: flex;
    align-items: center;
}

.home_card_rating img {
    height: 10px;
    aspect-ratio: 1;
    display: block;
    object-fit: contain;
    margin-left: 4px;
}

.home_card_desc {
    margin: 12px;
    font-size: 12px;
    color: rgb(156, 163, 175);
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.home_card_watch {
    padding: 4px 8px;
    font-size: 12px;
    line-height: 20px;
    font-weight: 600;
    background: rgb(241, 241, 241);
    border-radius: 14px;
    position: absolute;
    bottom: 8px;
    color: rgb(0, 0, 0);
    margin-left: 8px;
}

.home_card_watch:hover {
    background: rgb(217, 217, 217);
}

.search_bar {
    width: calc(100% - 48px);
    padding: 8px;
    margin: 56px 24px 0 24px;
    background: rgb(39, 39, 39);
    border-radius: 18px;
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 12px;
    line-height: 20px;
}

.search_bar:hover {
    background: rgba(30, 30, 30, 1);
}

.search_bar img {
    height: 20px;
    display: block;
}

.search_input {
    background: transparent;
    color: rgb(255, 255, 255);
    margin-left: 8px;
    width: calc(100% - 20px);
}

.search_results {
    height: fit-content;
    width: 100%;
    margin-top: 24px;
    padding: 0 24px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.search_result {
    height: fit-content;
    width: 100%;
    padding: 8px;
    background: rgb(39, 39, 39);
    border-radius: 8px;
    color: rgb(255, 255, 255);
    border-radius: 8px;
    cursor: pointer;
}

.search_result:hover {
    background: rgba(30, 30, 30, 1);
}

.anime_info {
    height: fit-content;
    width: 100%;
    display: flex;
    overflow: hidden;
    align-items: center;
    border-bottom: 2px solid rgb(46, 46, 46);
    padding: 16px;
    margin-top: 32px;
}

.anime_image {
    display: block;
    height: fit-content;
    width: 35%;
    border-radius: 8px;
    margin: 8px;
}

.anime_box {
    width: 65%;
}

.anime_title {
    width: 95%;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 8px 0;
    color: rgb(255, 255, 255);
    font-size: 14px;
}

.anime_desc {
    font-size: 12px;
    color: rgb(100, 100, 100);
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.anime_seasons {
    padding: 8px;
    margin: 24px;
    margin-top: 24px;
    background: rgb(38, 38, 38);
    border-radius: 8px;
}

.anime_episodes {
    margin: 24px;
}

.anime_seasons_header, .anime_episodes_header {
    color: rgb(255, 255, 255);
}

.anime_seasons_list {
    height: fit-content;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    margin-top: 8px;
}

.anime_episodes_list {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: 8px;
}

.anime_season, .anime_episode {
    padding: 4px 8px;
    background: rgb(46, 46, 46);
    border-radius: 8px;
    color: rgb(255, 255, 255);
}

.anime_season {
    padding: 8px 16px;
}

.anime_episode {
    background: transparent;
    padding: 8px;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    position: relative;
}

.anime_episode_area {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    z-index: 0;
}

.anime_episode_index {
    width: 100%;
}

.anime_episode_title {
    color: rgb(100, 100, 100);
    flex: 1;
}

.anime_episode_seen {
    height: fit-content;
    width: fit-content;
    padding: 8px 16px;
    font-size: 14px;
    line-height: 21px;
    font-weight: 600;
    background: rgb(39, 39, 39);
    border-radius: 18.5px;
    top: 0;
    color: rgb(255, 255, 255);
    margin-left: 8px;
    cursor: pointer;
    display: flex;
    align-items: center;
    z-index: 1;
}

.anime_episode_seen img {
    height: 14px;
    margin-right: 8px;
    object-fit: cover;
}

.video_container {
    position: fixed;
    z-index: 100;
    bottom: 8px;
    right: 8px;
    width: 60%;
    aspect-ratio: 16 / 9;
}

.video_exit {
    color: rgb(255, 255, 255);
    position: absolute;
    top: 0;
    right: 8px;
    z-index: 999;
    height: fit-content;
    width: fit-content;
}

.video_player {
    height: 100%;
    width: 100%;
}

#form {
    position: absolute;
    inset: 0;
    margin: auto;
    height: fit-content;
    width: calc(100% - 48px);
    display: flex;
    flex-direction: column;
    gap: 24px;
}

#form h1 {
    color: rgb(255, 255, 255);
}

#form input {
    padding: 8px 16px;
    background: rgb(38, 38, 38);
    color: rgb(255, 255, 255);
    border-radius: 8px;
}

#form input[type="submit"] {
    background: rgb(255, 165, 0);
    color: rgb(0, 0, 0);
}

#form span {
    display: flex;
    gap: 8px;
    color: rgb(255, 255, 255);
}

#form span a {
    color: rgb(255, 165, 0);
}

::-webkit-scrollbar {
    width: 0;
}

#show {
    aspect-ratio: 1;
    width: 100%;
    background: rgb(38, 38, 38);
    border-radius: 8px;
    margin: 24px 0;
    object-fit: contain;
}

#upload {
    padding: 8px;
    background: rgb(38, 38, 38);
    color: rgb(255, 255, 255);
    border-radius: 8px;
}

#upload::file-selector-button {
    background: rgb(46, 46, 46);
    color: rgb(255, 255, 255);
    padding: 8px;
    border-radius: 8px;
    outline: none;
    border: none;
    cursor: pointer;
    margin-right: 8px;
}

#submit {
    padding: 16px 32px;
    background: rgb(38, 38, 38);
    color:rgb(255, 255, 255);
    border-radius: 8px;
}